name: CI for harshanu website
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Update theme
        # (Optional)If you have the theme added as submodule, you can pull it and use the most updated version
        run: git submodule update --init --recursive

      - name: Setup hugo version
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.155.2"
          extended: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build the static website
        # remove --minify tag if you do not need it
        # docs: https://gohugo.io/hugo-pipes/minification/
        run: hugo -t blist

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.TOKEN }}
          external_repository: harshavmb/harshavmb.github.io
          publish_dir: ./public
          ## not excluding anything, let .github be there
          exclude_assets: ''
          user_name: harshavmb
          user_email: harshavmb@gmail.com
          publish_branch: main
          force_orphan: true
